body{
	padding-top: 50px;
}
.principal{
	padding: 40px 15px;
	text-align: center;
}
.usado{
	text-align: start !important;
}
.input-group{
	margin-bottom: 10px;
}
th{
	text-align: center;
	background-color: #aac4d6;
}
.ativo{
	background-color: #080808;
}
.glyphicon-user{
	font-size: 25pt;
	margin: 8px 15px 0px 25px;
	color: #9d9d9d;
	border-top: 0px;
}
.oi-person:hover, .oi-person:focus{
	color: #080808;
}
.buscar{
	display: flex;
}
.buscar button{
	margin-left: 5px;
	height: 34px;
}
.dropdown-toggle{
	box-shadow: none !important;
}
